@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.todo-container{
    width: 700px;
    text-align: center;
    padding: 10px 10px;
    margin: 50px auto;
}

.todo-title{
    margin: 35px 0;
    font-size: 48px;
    background: linear-gradient(to right, #E44D41, #D6933D);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: 700;
}

.todo-new{
    margin-bottom: 30px;
}

.todo-new input[type='text']{
    border: none;
    outline: none;
    background-color: #EDF2F7;
    padding: 16px 16px;
    font-size: 16px;
    border-radius: 5px;
}

.todo-new input[type='text']::placeholder{
    opacity: 0.6;
}
.btn{
    margin: 0 10px;
    background-color: #3B99E7;
    color: white;
    padding: 16px 40px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 700;
}

.todo-list{
    border: 2px solid #B7B7B7;
    border-radius: 2px;
    text-align: left;
    padding: 20px 20px;
}

.todo-list div{
    margin: 15px 0;
}

.todo-list div:first-child{
    margin-top: 0;
}

.todo-list div:last-child{
    margin-bottom: 0;
}

.todo-image {
    text-align: center;
    margin-top: 15px;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 20s linear;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item > div{
    margin-bottom: 0 !important;
}

.todo-item .btn{
    margin: 0;
    font-weight: 500;
    padding: 0 12px;
    font-size: 14px;
    height: 30px;
}